.main {
    padding-bottom: 150px;
    background-color: var(--standard-black);
}

.disablePaddingBottom {
    padding-bottom: 0px !important;
}

@media (max-width: 800px) {
    .main {
        padding-top: 100px;
    }
}